<!DOCTYPE html>
<html >
<head>
<title>Mapas</title>
<!--SE DEBE AGREGAR ESTO PARA ACCEDER AL SERVICIO DE MAPAS DE GOOGLE -->
<script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBtN8tuxmc0L7v_AzrfJj1znoH7dMvsEkQ'></script>
<!--
<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtN8tuxmc0L7v_AzrfJj1znoH7dMvsEkQ&callback=inicio_map">
    </script>
 -->   
<script src="../recursos/js/gmaps.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="../recursos/css/bootstrap.min.css">
<link rel="stylesheet" href="../recursos/css/normalize.css">
<script src="../recursos/js/christian.js?v=1."></script>
<link rel="stylesheet" href="../recursos/css/christian.css?v=1.3">
</head>

<body>

    <!-- START BLOCK : bloque_mapa -->
    <div id="bloque_mapa">
        <div id="map"></div>
    </div>
    <!-- END BLOCK : bloque_mapa -->

    
    {contenido}
        

    </div>
   
   
    
</body>
</html>