<!-- START BLOCK : php_a_js -->
<div class="php_a_js">
    
    <input id="{p0_titulo}" name="p0_titulo" type="hidden" value ="{p0_titulo_market}"  />
    <input id="{p0_lat}" name="p0_lat" type="hidden" value ="{p0_lat_market}" />
    <input id="{p0_lng}" name="p0_lng" type="hidden" value ="{p0_lng_market}" />
    
</div>
<!-- END BLOCK : php_a_js -->


<!--

<input id="{p0_id}" name="p0_id" type="hidden" value ="{id_market}" />
<input id="{p0_geocoding}" name="p0_geocoding" type="hidden" value ="{p0_geocoding_market}" />
	-->